.sidebar {
  font-family: "Rubik", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.3s ease-in-out;
  top: 70px;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  border-bottom: 1px solid #eee;
}

.sidebar__title {
  font-size: 20px;
  font-weight: 600;
  color: #555;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
}

.sidebar__list {
  list-style: none;
  padding: 0.2rem 0.5rem;
  margin: 0;
}

.list_title {
  display: flex;
  cursor: pointer;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  border-radius: .55rem;
}

.list_title:hover {
  background-color: #eee;
}

.list_title a {
  text-decoration: none;
  color: #151515;
}

.list_inner {
  list-style: none;
}

.list_inner_content {
}

.list_inner_content li {
  padding: 10px 10px;
  cursor: pointer;
  color: #555;
  border-radius: .65rem;
}

.list_inner_content li:hover {
  background-color: #eee;
}
